*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-color: rgb(54, 53, 53);
  width: 100%;
}
.head-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.head-2{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  padding: 10px;
}
.fz{
  color: white;
  font-size: 30px;
}
ul{
  list-style-type: none;
}
li{
  color: white;
}
.head-3{
display: flex;
justify-content: space-around;
align-items: center;
padding: 20PX;
background-color: rgb(37, 37, 37);
}
a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
a:hover{
  cursor: pointer;
  color: red;
}
button:hover{
  cursor: pointer;
}
#af-head{
  background-image: url(./assests/pexels-pascal-bronsert-19474432.jpg);
  background-repeat: none;
  background-size: cover;
  height: 150vh;
}
li:hover{
  color: red;
  cursor: pointer;
}
.af-head ,h1,h2,p{
  color: white;
  margin-top: 20px;
}
h1{
  font-size: 50px;
}
.kk{
  color: black;
}
.box{
  border: 1px solid black;
  padding-top: 5px;
}
.most-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.flex-1{
  display: flex;
  gap: 10%;
  align-items: center;
  justify-content: center;
}
.flex-2{
  display: flex;
}